.top-header {
  background-color: #b7c623;
  height: 30px; }

#body {
  background-color: #f3f2f2; }

.header, .footer {
  background-color: #f3f2f2; }

.navigation {
  border: 1px solid #eef;
  background-color: #fff; }
  .navigation nav ul li {
    display: inline;
    margin-left: 40px;
    line-height: 45px;
    float: left; }
    .navigation nav ul li a {
      color: #b7c623;
      text-transform: uppercase; }
  .navigation nav ul li:last-child {
    background-color: #b7c623; }
    .navigation nav ul li:last-child a {
      color: #fff;
      padding: 0 5px; }

.footer1 {
  border: 1px solid #eef;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  height: 130px;
  background-color: #fff;
  margin-bottom: 20px; }
  .footer1 ul {
    list-style: none;
    margin-top: 40px; }
    .footer1 ul li {
      display: inline;
      margin-right: 10px; }
      .footer1 ul li a {
        color: #b7c623; }

#subscribe-form h2 {
  color: #7e4d1d;
  font-weight: 300;
  font-size: 1.3em; }

#subscribe-form p {
  color: #b7c623;
  font-size: 0.9em; }

#subscribe-form input[type=text] {
  background-color: #c9d168;
  color: #fff;
  border: 1px solid #7e4d1d;
  padding: 10px;
  width: 70%;
  float: left;
  margin-right: 10px; }

#front-button {
  radius: 5px;
  background-color: #b7c623;
  color: #fff;
  border: none;
  padding: 10px;
  /* margin-left: 22px; */
  /* float: left; */
  border-radius: 5px; }

#address {
  font-size: 0.9em;
  color: #b7c623; }

.slider {
  text-align: center;
  margin-top: 20px; }

.catering-font {
  font-weight: 300;
  font-size: 1.7em;
  color: #b7c623;
  margin-top: 20px; }

#slide1 {
  float: left;
  width: 50%; }
  #slide1 img {
    width: 480px; }

#slide2 {
  float: right;
  width: 50%; }
