.footer{
	@extend .header;
}
.footer1{
	border: 1px solid #eef;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	height: 130px;
	background-color: #fff;
	margin-bottom: 20px;

	ul {
	 list-style: none;
	 margin-top:40px;
	  li {
	  	display:inline;
	  	margin-right:10px;
	  	a {
	  	color: $primarycolor;	
	  	}
	  }

	}

}

#subscribe-form {
	
	h2 {
		color: $secondarycolor;
		font-weight:300;
		font-size:1.3em;

	}
	p {
		color:$primarycolor;
		font-size:0.9em;
	}

input[type=text] {
	background-color:#c9d168;
	color:#fff;
	border: 1px solid $secondarycolor;
	padding:10px;
	width:70%;
	float:left;
	margin-right: 10px;

}




}
#front-button {
	radius: 5px;
    background-color: #b7c623;
    color: #fff;
    border: none;
    padding: 10px;
    /* margin-left: 22px; */
    /* float: left; */
    border-radius: 5px;
}
#address {
	font-size:0.9em;
	color: $primarycolor;
}


